.slider {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider__container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider__track {
  display: block;
  position: relative;
  left: 0;
  top: 0;
}

.slider__track::before, .slider__track::after {
  content: "";
  display: table;
}

.slider__track::after {
  clear: both;
}

.slider__slide {
  float: left;
  height: 100%;
  min-height: 1px;
  cursor: pointer;
}

.image {
  border: 3px solid #CCC;
}

.carousel2 .image {
  opacity: 0.7;
}

.carousel2 .slider__slide--current .image {
  opacity: 1;
}

.image.image--active {
  border-color: red;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel2 {
  margin-top: 1rem;
}
