@import "../../src/index";

.image {
  border: 3px solid #CCC;

  .carousel2 & {
    opacity: 0.7;
  }

  .carousel2 .slider__slide--current & {
    opacity: 1;
  }

  &.image--active {
    border-color: red;
  }
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel2 {
  margin-top: 1rem;
}
