.slider {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider__container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider__track {
  display: block;
  position: relative;
  left: 0;
  top: 0;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.slider__slide {
  float: left;
  height: 100%;
  min-height: 1px;
  cursor: pointer;
}
